@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.main {
  &__subtitle {
    display: flex;
    justify-content: space-between;
    &-child {
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include tablet {
        flex-direction: row;
        gap: 2rem;
      }
    }
  }
  &__join-conv {
    display: flex;
    gap: 1rem;
  }
  &__form {
    position: relative;
    width: 93%;
  }
}

// WORNING! Doesn't work inside a ".button &--cancel", needs Everything
.upload__form {
  @extend .main__form;
  width: 100%;
}

textarea {
  width: 100%;
  height: 6rem;
  min-width: 15rem;
  min-height: 2.25rem;
  font-family: $font;
  border-radius: 0.25rem;
  border: 1px solid $secondary-mercury;
  background-color: $secondary-alabaster;
  margin: 0.25rem 0 1rem; // 4px on all screen Sz
  padding: 0.75rem;
  // color: ; // WARNING! this is on input text, don't touch it!
  @include tablet {
    min-height: 2.5rem;
    padding: 0.6875rem 1.375rem 0.75rem;
    margin: 0 0 1rem;
  }
  // Active state input field
  &:focus {
    outline: solid 2px $primary-brainFlix-blue;
  }
}

.search__avatar--img.--bottom {
  margin-top: 1rem;
  @include tablet {
    order: 0;
  }
}

//stretches the dividder for a desktop view
.full-width {
  @include desktop {
    // WARNING! must be === to a margin on a .main section from global
    margin-right: -2.5rem;
  }
}

// Active error-state input field
.error-state {
  border: 2px solid $error-state;
  color: $error-state;
}
