// devises' breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// colortheme
$primary-brainFlix-black: #323232;
$primary-brainFlix-blue: #0095ff;
$primary-silver: #afafaf;
$primary-white: #fff;

$secondary-brainFlix-darkBlack: #000;
$secondary-brainFlix-darkBlue: #0065ad;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;

$error-state: #D22D2D;
// fonts
$font: "Avenir Next", "Montserrat", "Eau", "Manrope", "Nunito", "Mulish",
  "Helvetica";
