@use "../../../src/styles/partials/variables" as *;
@use "../../../src/styles/partials/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }
}

.search {
  background-image: url("../../assets/images/icons/search.svg");
  background-repeat: no-repeat;
  padding-left: 2.5rem;
  background-color: #fafafa;
  width: 100%;
  border-radius: 4px;
  border: 1px $secondary-mercury solid;
  height: 2.5rem;
  background-position: 0.5rem 60%;
  @include tablet {
    width: 34vw;
  }
  &-parent {
    width: 80%;
  }
  &-container {
    width: 79%;
    margin-right: 1rem;
    position: relative;
    height: 2.5rem;
    justify-content: space-between;
    align-items: center;
    display: flex;

    @include tablet {
      justify-content: flex-end;
      width: 59%;
      order: 0;
    }
    & .search-img {
      position: absolute;
      left: 1rem;
    }
  }
  &__magnifyGlass {
    position: absolute;
    left: 0.5rem;
  }
}

.button--upload {
  position: absolute;
  left: 0.5rem;
}

.search-parent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    display: flex;

    align-items: center;
    gap: 1rem;
  }
}
