@use "./styles/partials/variables" as *;
// @use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;

.content-holder {
  @include desktop {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    border: red solid 1px;
  }
}
