@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

.content-holder {
  @include desktop {
    width: 80%;
    margin: auto;
    border: red solid 1px;
  }
}

.desktop-container {
  @include desktop {
    display: flex;
  }
}
