@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/global";

.content-holder {
  @include desktop {
    width: 80%;
    margin: auto;
  }
}

.desktop-container {
  @include desktop {
    display: flex;
  }
}
